@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700&family=Montserrat:wght@500;700&display=swap');

*,
::after,
::before {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: Montserrat, sans-serif;
}

:root {
	/** ================= Colors ================= */
	/* Background */
	--wrapper-bg-color: rgb(242, 235, 227);
	--card-content-bg-color: white;
	--button-bg-color: rgb(60, 128, 103);
	--button-bg-color--hover: #244D3E;

	/* Font */
	--subtitle-font-color: rgb(108, 114, 137);
	--title-font-color: rgb(28, 35, 43);
	--text-font-color: rgb(108, 114, 137);
	--price-current-font-color: rgb(60, 128, 103);
	--price-old-font-color: rgb(108, 114, 137);
	--button-font-color: white;

	/* Shadow */
	--card-shadow-color: rgba(0, 0, 0, 0.075);
}

html {
	font-size: 62.5%;
}

body {
	font-size: 1.4rem;
}

.wrapper {
	display: flex;
	align-items: center;
	height: 100vh;
	min-height: 600px;
	background-color: var(--wrapper-bg-color);
	padding: 30px 20px;
}

.card {
	display: flex;
	margin: 0 auto;
	height: 550px;
	width: 700px;
	border-radius: 15px;
	overflow: hidden;
	box-shadow: 2px 2px 5px 2px var(--card-shadow-color);
}

.card__image,
.card__content {
	flex: 0 1 50%;
}

.title,
.price__current {
	font-size: 3.7rem;
}

.card__image {
	height: 100%;
	background-image: url('./images/image-product-desktop.jpg');
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: 100% 100%;
}

.card__content {
	padding: 35px;
	background-color: var(--card-content-bg-color);
}

.subtitle {
	margin-bottom: 20px;
	font-weight: 400;
	letter-spacing: 6px;
	color: var(--subtitle-font-color);
}

.title {
	font-family: Fraunces;
	margin-bottom: 40px;
	color: var(--title-font-color);
}

.text {
	line-height: 1.6;
	margin-bottom: 40px;
	color: var(--text-font-color);
}

.price {
	margin-bottom: 40px;
}

.price__current {
	font-family: Fraunces;
	color: var(--price-current-font-color);
}

.price__old {
	padding-left: 40px;
	position: relative;
	top: -10px;
	text-decoration: line-through;
	color: var(--price-old-font-color);
}

.button {
	width: 100%;
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: none;
	border-radius: 10px;
	font-weight: 700;
	background-color: var(--button-bg-color);
	color: var(--button-font-color);
}

.button:hover {
	cursor: pointer;
	transform: scale(1.1);
	background-color: var(--button-bg-color--hover);
}

.button::before {
	content: '';
	display: block;
	width: 25px;
	height: 25px;
	background-image: url('./images/icon-cart.svg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	padding-right: 20px;
	position: relative;
	left: -10px;
}

/* tablets */
@media (max-width: 768px) {
	.wrapper {
		min-height: 800px;
	}

	.title,
	.text,
	.price {
		margin-bottom: 20px;
	}

	.card {
		flex-wrap: wrap;
		height: 700px;
	}

	.card__image,
	.card__content {
		flex-basis: 100%;
	}

	.card__image {
		height: 45%;
		background: url('./images/image-product-mobile.jpg') no-repeat;
		background-size: cover;
	}

	.card__content {
		height: 55%;
		padding: 30px;
	}

	.title {
		font-size: 3rem;
	}

	.price {
		text-align: center;
	}

	.price__old {
		padding-left: 90px;
	}

	.button {
		width: 50%;
		margin: 0 auto;
	}
}

/* mobile */
@media (max-width: 480px) {
	.card {
		max-height: 600px;
	}

	.card__image {
		height: 35%;
	}

	.card__content {
		height: 65%;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		padding: 25px;
	}

	.subtitle {
		margin-bottom: 10px;
	}

	.subtitle,
	.text,
	.price__old,
	.button {
		font-size: 1.3rem;
	}

	.price {
		display: flex;
		justify-content: flex-start;
		align-items: center;
	}

	.price__current {
		font-size: 3rem;
	}

	.price__old {
		position: static;
		padding-left: 30px;
	}

	.button {
		height: 50px;
		width: 100%;
	}
}

@media (max-width: 360px) {
	.card__image {
		height: 30%;
	}

	.card__content {
		height: 70%;
		padding: 15px;
	}
}